<section class="container">
    <form #studentForm="ngForm">
      <div class="form-group">
          <label for="nombre">First Name</label>    
          <input type="text" class="form-control" id="nombre" placeholder="Enter First Name" [(ngModel)]="student.nombre" name="nombre"/>
      </div>
      <div class="form-group">
            <label for="abellidos">Last Name</label>   
            <input type="text" class="form-control" id="apellidos" placeholder="Enter Last Name" [(ngModel)]="student.apellidos" name="apellidos"/>
      </div>
      <div class="form-group">
             <label for="dni">Dni</label>
            <input type="text" id="dni" class="form-control" placeholder="Enter Dni" [(ngModel)]="student.dni" name="dni" required/>
      </div>
      <div class="form-group">
       <label for="poblacion">Población</label>
            <select  id="poblacion" [(ngModel)]="student.poblacion"  class="form-control" name="poblacion">
                  <option>Barcelona</option>
                  <option>Castelldefels</option>
            </select>
      </div>
      <fieldset class="form-group">
            <legend>Sexo</legend>
      <div class="form-check">
            <label class="form-check-label">
                  <input type="radio" class="form-control" id="optionHombre" value="Hombre" [(ngModel)]="student.sexo" name="sexo" /> Hombre 
            </label>
            <label class="form-check-label">
                  <input type="radio" class="form-control" id="optionMujer" value="Mujer" [(ngModel)]="student.sexo" name="sexo" /> Mujer
            </label>
      </div>
      </fieldset>
          <input type="button" class="btn btn-primary"  
                  (click)="onSubmit()"/>
</form>
</section>
